*.ini
video_aulas/Fundamentos_de_Algoritmo_para_Computação_Aula_03.webm
video_aulas/Fundamentos_de_Algoritmo_para_Computação_Aula_15.webm
video_aulas/Fundamentos_de_Algoritmo_para_Computação_Aula_07.webm
video_aulas/Fundamentos_de_Algoritmo_para_Computação_Aula_11.webm
video_aulas/Fundamentos_de_Algoritmo_para_Computação_Aula_12.webm
video_aulas/Fundamentos_de_Algoritmo_para_Computação_Aula_13.mp4
video_aulas/Fundamentos_de_Algoritmo_para_Computação_Aula_13.webm
